mixin foot 
	+footer({
		instargam: 'https://www.instagram.com/eurasia_mgn/',
		vk: 'https://vk.com/stroitelstvo_domov_magnitogorsk',
		politeLink: '/eadom.ru.pdf',

		links: [
			{
				text: `Строительство и&nbsp;ремонт коммерческой недвижимости`,
				href: `/stroitelstvo-domov-pod-kluch`
			},
			{
				text: `Проекты домов со&nbsp;стоимостью`,
				href: `https://eadompro.ru/`
			},
			{
				text: `Строительство домов и&nbsp;коттеджей`,
				href: `/stroitelstvo-domov-pod-kluch`
			},
			{
				text: `Производство и&nbsp;продажа строительных материалов`,
				href: `/stroitelnie-materiali.html`
			},
			{
				text: `Вакансии`,
				href: `/vakansii.html`
			},
			{
				text: `Контакты`,
				href: `kontakti.html`
			}
		],
		slides: [
			{
				img: 'partner-1.jpg'
			},
			{
				img: 'partner-2.jpg'
			},
			{
				img: 'partner-3.jpg'
			},
			{
				img: 'partner-4.jpg'
			},
			{
				img: 'partner-5.jpg'
			},
			{
				img: 'partner-6.jpg'
			},
			{
				img: 'partner-7.jpg'
			},
			{
				img: 'partner-8.jpg'
			}
		],
	})


mixin footer(data)
	+b.FOOTER.footer

		.container
			+e.mainRow.row 
				.col-sm-auto 
					+e.logo(href="/")
						+pic('logo.png','','')
					+e.copyright &copy;&nbsp;Копирование и&nbsp;распространение материалов с&nbsp;сайта, без письменного согласия правообладателя запрещено.
				.col-sm 
					+b.UL.footerMnu
						each link in data.links 
							+e.LI.item 
								+e.A.link(href!= link.href)!= link.text 
				+e.col.col-lg-auto
					+e.news Следите за новостями:
					+e.soc 
						+e.socLink(href='https://www.instagram.com/eurasia_mgn/' target="_blank") 
							+icon('instagram')
							| Instagram
						+e.socLink(href='https://vk.com/stroitelstvo_domov_magnitogorsk' target="_blank") 
							+pic('vk.png','','')
							| ВКонтакте
			.footer-menu-title.bold Проекты домов
			ul.footer-menu.light-bold
				li
					a(href='https://eadompro.ru/category/tip-doma/klassicheskie/') Классические дома
				li
					a(href='https://eadompro.ru/category/tip-doma/sovremennie/') Современные дома
				li
					a(href='https://eadompro.ru/category/tip-doma/doma-s-garagem/') Дома с гаражом
				li
					a(href='http://eadompro.ru/category/ploshad-doma/do100kvm/') до 100 кв.м.
				li
					a(href='http://eadompro.ru/category/ploshad-doma/101-150kvm/') 101 кв.м. — 150 кв.м.
				li
					a(href='http://eadompro.ru/category/ploshad-doma/151-200kvm/') 151 кв.м. — 200 кв.м.
				li
					a(href='http://eadompro.ru/category/ploshad-doma/201-250kvm/') 201 кв.м. — 250 кв.м.
				li
					a(href='http://eadompro.ru/category/ploshad-doma/251-300kvm/') 251 кв.м. - 300 кв.м.
				li
					a(href='http://eadompro.ru/category/ploshad-doma/ot300kvm/') от 300 кв.м.
				li
					a(href='https://eadompro.ru/category/tip-doma/dvuhetagnie-doma/') Двухэтажные дома
				li
					a(href='https://eadompro.ru/category/tip-doma/mansardnie/') Мансардные дома
				li.active
					a(href='https://eadompro.ru/category/tip-doma/odnoetagnie-doma/') Одноэтажные дома

			+b.partners 
				+e.title НАШИ ПАРТНЕРЫ:
				+e.slider--js.swiper-container
					.swiper-wrapper
						each slide in data.slides 
							+e.slide.swiper-slide
								+pic(slide.img,'','')
			.text-center
				+e.polite(href= data.politeLink target="_blank") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
			+e.devWrap 
				span Создание и продвижение сайта: 
				+e.dev(href="https://simonovmarketing.ru" target="_blank")
					img.res-i(src="img/svg/simonov.svg" loading='lazy')

	+b.scroll-top
		img(src="img/@2x/up.png" alt="" loading="lazy")