.modal-win {
	// display: block;
	width: 100%;
	position: relative;
	max-width: rem(1061px);
	padding: 0;
	overflow: hidden;
	border-radius: 5px;

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	&__wrap {
		text-align: center;

		p {
			@extend .mono;
			font-size: 16px;
		}
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}

	&__col {
		position: relative;
	}

	.soc {
		justify-content: center;
		@include roww(17px, m);

		&__item {
			width: 27px;
			height: 27px;
		}

		.icon {
			font-size: 18px;
		}
	}

	&__call {
		text-transform: uppercase;
		display: inline-block;
		font-size: 12px;
		text-decoration: none;
		color: $gray-900;
		border-bottom: dashed 1px;
		margin-bottom: rem(35);
	}

	&__tel {
		font-size: 30px;
		@extend .mono;
		text-decoration: none;
		color: $gray-900;
		display: block;
		margin-bottom: rem(18);
	}

	.form-wrap {
		margin-bottom: 0;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			pointer-events: none;
			border-radius: 5px;
			border: 1px solid #eaeaea;
			position: absolute;
			left: 50%;
			top: 50%;
			bottom: auto;
			right: auto;
			transform: translateX(-50%) translateY(-50%);
			width: calc(100% - 12px);
			height: calc(100% - 12px);
		}

		&__col {
			padding: 50px 15px 30px;
			@include media-breakpoint-up(sm) {
				padding: 50px 60px;
			}
		}

		&__title {
			color: #1b1b1b;
			font-size: 28px;
			line-height: 1.2;
			padding-bottom: 16px;
			display: block;
			@include media-breakpoint-up(sm) {
				font-size: 36px;
			}
		}

		&__text {
			letter-spacing: 0.4px;
			margin-bottom: 25px;
			@include media-breakpoint-up(sm) {
				font-size: 1.25rem;
			}
		}

		&__input {
			background-color: #fff;
			border: 1px solid #dbdbdb;
			font-size: 18px;
			padding: 27px 60px;
			padding-right: 10px;
		}

		&__btn {
			display: block;
			width: 100%;
			margin-bottom: rem(30px);
			span {
				padding: 1.5625rem 0.75rem;
				font-size: rem(20);
			}
		}

		&__polite {
			max-width: 310px;
			font-size: 12px;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 20px;
		}
	}

	.form-group {
		margin-bottom: 1rem;
	}

	.custom-input {
		cursor: pointer;
		display: block;
		height: 67px;
		margin-bottom: 2rem;
		border-radius: 5px;
		border: 1px solid #dbdbdb;
		display: flex !important;

		align-items: center;
		text-align: center;
		z-index: 2;
		position: relative;

		&__input {
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			border: 0;
			padding: 0;
			clip: rect(0 0 0 0);
			overflow: hidden;
		}

		&__lab {
			width: calc(50% - 10px);
			position: absolute;
			z-index: -1;
			border-radius: 5px;
			background-color: #b5b5b5;
			height: calc(100% - 10px);
			left: 5px;
			transition: all 0.36s;
		}

		&__text {
			width: 50%;
			display: block;
			padding: 5px;
			transition: all 0.36s;
			&--now {
				color: #fff;
			}
		}
	}

	.custom-input__input:checked + .custom-input__lab {
		left: calc(50% + 5px);
	}
	.custom-input__input:checked ~ .custom-input__text--now {
		color: #141313;
	}
	.custom-input__input:checked ~ .custom-input__text--time {
		color: #fff;
	}

	.toggle-block:not(.active) {
		display: none;
	}

	.toggle-block .form-wrap__input-wrap {
		margin-bottom: rem(30px);
	}

	.toggle-block .form-wrap__input-wrap input {
		padding: rem(14px) rem(80px);
	}
}

#modal-contacts {
	padding: 50px 10px 50px;
	max-width: 298px;
}
a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: 0.65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}

//
@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(xs) {
}

//
@include media-breakpoint-between(md, xl) {
}

//
@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

//
@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
}
