
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+b.FORM.form-wrap
			.row.no-gutters
				+e.col.col-6.img-bg.d-none.d-lg-block
					img(src='img/@2x/modal-1.jpg' alt='' loading="lazy")
				.col
					.form-wrap__title
						| Введите ваш номер телефона,
					.form-wrap__text.form-wrap__text--js
						| и офис-менеджер Наталья  позвонит вам сейчас или в удобное для звонка время
					input.utm_source(type='hidden' name='utm_source')
					input.utm_term(type='hidden' name='utm_term')
					input.order(type='hidden' name='order' value='Заказать звонок')
					.form-wrap__input-wrap.form-group
						input.form-wrap__input.form-control(type='tel' placeholder='Введите ваш телефон' required='required' name='tel')
					// +e.input-wrap
					label.custom-input
						input.custom-input__input(type='checkbox' name='scr8-time')
						span.custom-input__lab
						span.custom-input__text.custom-input__text--now СЕЙЧАС
						span.custom-input__text.custom-input__text--time КО ВРЕМЕНИ
					.toggle-block
						.form-wrap__input-wrap.form-group
							input.form-wrap__input.form-control(type='text' placeholder='Например, среда, 12:00' name='time')
						// +e.input-wrap
					button.form-wrap__btn.btn-js(type='submit')
						| Заказать звонок
					.toggle-block.active
						.form-wrap__polite.text-center
							| Нажимая кнопку «Заказать звонок», вы соглашаетесь с 
							a.tdu(href='#' target='_blank') условиями передачи дайнных
	// #modal-call
	+b.modal-win(id="modal-contacts" class=" " style="display: none" )
		+e.wrap
			+e.tel(href="tel:8(3519)23-20-20") 8 (3519) 23-20-20
			.text-center
				+e.call.ttu.link-modal-js(href="modal-call") ЗАКАЗАТЬ ЗВОНОК
				p Пишите по всем вопросам
			+soc

	// end modals