// start .sVacancies
.sVacancies {
	--sPT: #{rem(7)};
	--sTPB: #{rem(10)};
	--sPB: #{rem(18)};
	@include media-breakpoint-up(md) {
		--sPB: #{rem(0)};
		--sTPB: #{rem(33)};
		--sPT: #{rem(20)};
	}

	h1 {
		@include media-breakpoint-down(sm) {
			font-size: rem(32);
		}
	}

	ol {
		list-style-type: none;
		counter-reset: item;
		color: #707070;
		padding-left: 0;
		margin-bottom: 0.25rem;
		li {
			padding-bottom: rem(9px);
			position: relative;
			padding-left: rem(28);
			&::before {
				content: counter(item) ". ";
				counter-increment: item;
				font-size: rem(18);
				@include media-breakpoint-up(sm) {
					font-size: $h3-font-size;
				}
				font-weight: 300;
				position: absolute;
				left: 0;
				top: 2px;
			}
		}
		a {
			border-bottom: dashed 1px;
			font-size: rem(18);
			@include media-breakpoint-up(sm) {
				font-size: $h3-font-size;
			}
			text-decoration: none;
			color: #707070 !important;
			font-weight: 300;

			&:hover {
				border-color: transparent;
			}
		}
	}

	&__sendResume {
		@extend .h3;
		font-weight: 700;
		display: inline-block;
		margin-bottom: rem(17);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(50);
		}
		margin-left: rem(26);
		text-decoration: none;
		color: $warning !important;
		border-bottom: dashed 1px;

		&:hover {
			border-color: transparent;
		}
	}
	&__item {
		padding-bottom: rem(20);
		h3 {
			@extend .mono;
			color: #262626;
			font-size: rem(24);
			margin-bottom: rem(10);
		}
	}

	&__subtitle {
		font-weight: 700;
	}

	ul {
		margin-bottom: rem(17);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(30);
		}
		li {
			font-weight: 300;
			list-style: none;
			display: flex;

			&::before {
				content: "";
				width: 13px;
				height: 13px;
				margin-right: rem(14);
				@include media-breakpoint-up(md) {
					margin-right: rem(10);
				}
				@include media-breakpoint-down(md) {
					margin-top: 4px;
				}
				background-image: url("../img/@2x/webp/check.webp");
				background-size: 100%;
				background-repeat: no-repeat;
			}
		}
	}

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sVacancies
