// start .sHowGet
.sHowGet {
	// --sTPB: ;
	@include media-breakpoint-up(md) {
		--sPB: #{rem(60)};
		--sPT: #{rem(56)};
	}
	background-color: #f9f9f9;
	h3 {
		color: #707070;
		font-weight: 300;
		letter-spacing: 0.32px;
		@include media-breakpoint-up(md) {
			letter-spacing: 0.46px;
		}
		@include media-breakpoint-down(sm) {
			font-size: 16px;
		}
	}

	h2 {
		color: $gray-900;

		@include media-breakpoint-up(md) {
			letter-spacing: 0.9px;
		}
	}

	.map-wrap {
		position: relative;

		#map,
		iframe,
		> ymaps {
			height: 353px !important;
			@include media-breakpoint-up(md) {
				height: rem(578) !important;
			}

			> ymaps {
				height: 353px !important;
				@include media-breakpoint-up(md) {
					height: rem(578) !important;
				}
			}
		}
	}

	&__contact-block {
		@include media-breakpoint-up(md) {
			position: absolute;
			z-index: 4;
		}

		@include media-breakpoint-down(md) {
			display: none;
		}

		@include media-breakpoint-up(lg) {
			top: 7%;
			left: rem(50);
		}

		@include media-breakpoint-up(xl) {
			left: rem(80);
		}

		img {
			width: rem(25);
		}

		a {
			color: $body-color;
			text-decoration: none;
		}

		ul {
			max-width: rem(325);
			padding: rem(54) rem(30) rem(46) rem(33);
			background-color: #fff;
			box-shadow: 3px 2px rem(35) rgba(154, 187, 206, 0.17);
			border-radius: $border-radius-lg;

			li {
				position: relative;
				text-align: left;
				list-style: none;
				padding-left: rem(47);
				font-size: rem(18);
				padding-bottom: rem(38);

				&:nth-last-child(1) {
					padding-bottom: 0;
				}

				span {
					font-weight: 400;
					letter-spacing: rem(0.36);
				}

				img {
					position: absolute;
					left: 0;
					top: rem(6);
				}
			}
		}
	}

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sHowGet
