extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sDirections/_sDirections.pug

block variables
	- let  mainPage= 'mainPage' 
	- let  bg= null

block title
	- let  title= 'Eвразия'
	title= title
block pagecontent

	mixin mnu()

		+b.UL.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item.active( temprop="item" itemprop="url"): +e.A.link(href="/" itemprop="url") Главная
			+e.LI.item--has-children( itemprop="item" )
				+e.A.link(href="#" itemprop="url") Услуги
				+b.UL.sub-menu
					+e.LI.item( temprop="item"  ): +e.A.link(href="/remont-magazinov.html" itemprop="url") Строительство и&nbsp;ремонт коммерческой недвижимости
					+e.LI.item( temprop="item"  ): +e.A.link(href="/stroitelstvo-domov-pod-kluch" itemprop="url") Строительство домов и&nbsp;коттеджей
					//-+e.LI.item( temprop="item"  ): +e.A.link(href="https://eadompro.ru/" itemprop="url") Проекты домов со&nbsp;стоимостью
					+e.LI.item( temprop="item"  ): +e.A.link(href="/stroitelnie-materiali.html" itemprop="url") Производство и&nbsp;продажа строительных материалов
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="https://eadompro.ru/" itemprop="url") Проекты домов 
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="/vakansii.html" itemprop="url") Вакансии
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="/kontakti.html" itemprop="url") Контакты

	+mob-mnu()
	+header()
		+top-nav()

	+headerBlock({
		bg: 'header-bg.jpg',
		h1: `Проектирование, строительство, ремонт <span>Коммерческой недвижимости, домов и&nbsp;коттеджей</span>`,
		strong: `С 2001 г. сдали более 600 объектов `,
		smText: `в&nbsp;Магнитогорске, Челябиской обл., Респ. Башкортостан`
	})
	+sDirections({
		h2: `Компания ООО&nbsp;ПСК Евразия работает по&nbsp;разным направлениям`,
		h3: `Выберите, что вас интересует:`,
		items: [
			{
				link: '#',
				img: 'sDirections-1.jpg',
				title: `Строительство и&nbsp;ремонт коммерческой недвижимости`,
				subtitle: `офисов, магазинов, производственных, промышленных зданий и&nbsp;сооружений`
			},
			{
				link: '#',
				img: 'sDirections-2.jpg',
				title: `Строительство домов и&nbsp;коттеджей`,
				subtitle: `офисов, магазинов, производственных, промышленных зданий и&nbsp;сооружений`
			},
			{
				link: '#',
				img: 'sDirections-3.jpg',
				title: `Проекты домов со&nbsp;стоимостью`,
				subtitle: `офисов, магазинов, производственных, промышленных зданий и&nbsp;сооружений`
			},
			{
				img: 'sDirections-4.jpg',
				title: `Производство и&nbsp;продажа строительных материалов`,
				subtitle: `офисов, магазинов, производственных, промышленных зданий и&nbsp;сооружений`
			},
		]
	})
	+sForm({
		h2: `Приезжайте в&nbsp;наш&nbsp;офис, <br>чтобы лично обсудить условия сотрудничества`,
		formTitle: `Запишитесь на&nbsp;встречу в&nbsp;1&nbsp;клик`,
		text: `Офис-менеджер Наталья позвонит, чтобы уточнить детали и&nbsp;запишет&nbsp;вас на&nbsp;удобное время`
	})
	+sContact().bg-light
	+foot

	//- +b.tabs--js.opacity-50
	//- 	+e.caption.d-flex
	//- 		+e.btn.btn.btn-warning.active  btn1
	//- 		+e.btn.btn.btn-warning btn 2
	//- 		+e.btn.btn.btn-warning btn 3
	//- 		+e.btn.btn.btn-warning btn 4
	//- 	+e.wrap
	//- 		+e.content.active content 1
	//- 		+e.content content 2
	//- 		+e.content content 3
	//- 		+e.content content 4
	//- +b.tabs--js
	//- 	+e.caption.d-flex
	//- 		+e.btn.btn.btn-success.active  btn  2 1
	//- 		+e.btn.btn.btn-success btn 2  2
	//- 		+e.btn.btn.btn-success btn 2  3
	//- 		+e.btn.btn.btn-success btn  2 4
	//- 	+e.wrap
	//- 		+e.content.active content 1
	//- 		+e.content content 2
	//- 		+e.content content 3
	//- 		+e.content content 4



