extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sDirections/_sDirections.pug
include ../blocks/sVacancies/_sVacancies.pug
include ../blocks/sHowGet/_sHowGet.pug
include ../blocks/s-contact/_s-contact.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Контакты'
	title= title
block pagecontent

	mixin mnu()

		+b.UL.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="/" itemprop="url") Главная
			+e.LI.item--has-children( itemprop="item" )
				+e.A.link(href="#" itemprop="url") Услуги
				+b.UL.sub-menu
					+e.LI.item( temprop="item"  ): +e.A.link(href="/remont-magazinov.html" itemprop="url") Строительство и&nbsp;ремонт коммерческой недвижимости
					+e.LI.item( temprop="item"  ): +e.A.link(href="/stroitelstvo-domov-pod-kluch" itemprop="url") Строительство домов и&nbsp;коттеджей
					+e.LI.item( temprop="item"  ): +e.A.link(href="https://eadompro.ru/" itemprop="url") Проекты домов со&nbsp;стоимостью
					+e.LI.item( temprop="item"  ): +e.A.link(href="/stroitelnie-materiali.html" itemprop="url") Производство и&nbsp;продажа строительных материалов
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="https://eadompro.ru/" itemprop="url") Проекты домов 
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="/vakansii.html" itemprop="url") Вакансии
			+e.LI.item.active( temprop="item" itemprop="url"): +e.A.link(href="/kontakti.html" itemprop="url") Контакты

	+mob-mnu()
	+header()
		+top-nav()
	+b.page-head
		.container
			+breadcrumb('Главная', title) 
	+sContact-inner
	+sHowGet
	+s-contact
	+foot

	//- +b.tabs--js.opacity-50
	//- 	+e.caption.d-flex
	//- 		+e.btn.btn.btn-warning.active  btn1
	//- 		+e.btn.btn.btn-warning btn 2
	//- 		+e.btn.btn.btn-warning btn 3
	//- 		+e.btn.btn.btn-warning btn 4
	//- 	+e.wrap
	//- 		+e.content.active content 1
	//- 		+e.content content 2
	//- 		+e.content content 3
	//- 		+e.content content 4
	//- +b.tabs--js
	//- 	+e.caption.d-flex
	//- 		+e.btn.btn.btn-success.active  btn  2 1
	//- 		+e.btn.btn.btn-success btn 2  2
	//- 		+e.btn.btn.btn-success btn 2  3
	//- 		+e.btn.btn.btn-success btn  2 4
	//- 	+e.wrap
	//- 		+e.content.active content 1
	//- 		+e.content content 2
	//- 		+e.content content 3
	//- 		+e.content content 4



