extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sDirections/_sDirections.pug
include ../blocks/sRecommendation/_sRecommendation.pug
include ../blocks/sOurWork/_sOurWork.pug
include ../blocks/sSteps/_sSteps.pug
include ../blocks/sResults/_sResults.pug


block variables
	- let  mainPage= 'mainPage'
	- let  bg= null

block title
	- let  title= 'Реконструкция, капитальный ремонт, строительство: офисов, магазинов, производственных, промышленных зданий и сооружений'
	title= title
block description
	meta(name="description", content="Занимаемся проектированием, строительством, ремонтом и реконструкцией более 20 лет. Поэтому стремимся предложить вам лучшие условия.")
block keywords
	meta(name="keywords", content="капитальная реконструкция, капитальный реконструкция строительство, капитальный ремонт, капитальный ремонт здания, капитальный строительство, реконструкция магнитогорск, реконструкция объекта, ремонт +и реконструкция, ремонт зданий +и сооружений, ремонт магазина, ремонт магазинов магнитогорск, строительства реконструкции ремонта")
block pagecontent

	mixin mnu()

		+b.UL.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="/" itemprop="url") Главная
			+e.LI.item--has-children( itemprop="item" )
				+e.A.link(href="#" itemprop="url") Услуги
				+b.UL.sub-menu
					+e.LI.item( temprop="item"  ): +e.A.link.active(href="/remont-magazinov.html" itemprop="url") Строительство и&nbsp;ремонт коммерческой недвижимости
					+e.LI.item( temprop="item"  ): +e.A.link(href="/stroitelstvo-domov-pod-kluch" itemprop="url") Строительство домов и&nbsp;коттеджей
					//-+e.LI.item( temprop="item"  ): +e.A.link(href="https://eadompro.ru/" itemprop="url") Проекты домов со&nbsp;стоимостью
					+e.LI.item( temprop="item"  ): +e.A.link(href="/stroitelnie-materiali.html" itemprop="url") Производство и&nbsp;продажа строительных материалов
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="https://eadompro.ru/" itemprop="url") Проекты домов 
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="/vakansii.html" itemprop="url") Вакансии
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="/kontakti.html" itemprop="url") Контакты

	+mob-mnu()
	+header()
		+top-nav()
	+headerBlock-03({
		bg: 'header-bg-3.jpg',
		h1: `Продажа новых домов в&nbsp;Магнитогорске`,
		h3: `• от 23 тыс. руб. за м<sup>2</sup> 
		<br><br>
		• ипотека от 3%
		<br><br>
		• работаем без посредников`,
		
		slides: [
			{
				img: 'dom-1.jpg',
				slideText: `<b>Новый дом:</b> <br> площадью 123 кв.м. с гаражом в поселке Западный-2`
			},
			{
				img: 'dom-2.jpg',
				slideText: `<b>Новый дом:</b> <br> площадью 123 кв.м. с гаражом в поселке Западный-2`
			}
		]
	})

	//- sResults start
	+sResults2({
		btns: [
			{
				name: `Дом в пос. Западный-2`,
				sity: `Магнитогорск`,
				class: 'active'
			},
			{
				name: `Дом в пос. Западный-2`,
				sity: `Магнитогорск`,
			},
		],
		contents: [
			{
				class: 'active',
				name: `Новый дом в поселке Западный-2`,
				slides: [
					{
						img: 'dom-1-1.jpg'
					},
					{
						img: 'dom-1-2.jpg'
					},
					{
						img: 'dom-1-3.jpg'
					},
					{
						img: 'dom-1-4.jpg'
					},
					{
						img: 'dom-1-5.jpg'
					},
					{
						img: 'dom-1-6.jpg'
					},
					{
						img: 'dom-1-7.jpg'
					},
					{
						img: 'dom-1-8.jpg'
					},
					{
						img: 'dom-1-9.jpg'
					},
					{
						img: 'dom-1-10.jpg'
					},
				],
				rows: [
					{
						title: `Адрес объекта:`,
						text: `г. Магнитогорск, пос. Западный-2`
					},
					{
						title: `Описание:`,
						text: `• Перед строительством был разработан проект, с расчетом конструкций, для данного участка. <br>
									• Выполнено снятие растительного грунта, до несущей породы. <br>
									• Фундамент на бурозаливных сваях и ростверком. <br>
									• Плита монолитная по несжимаемому грунту и его уплотнением вибротрамбовкой. <br>
									• Стены из бетонного камня в 400 мм. <br>
									• Перекрытие балочное деревянное с утеплением в 200 мм. <br>
									• Кровля из качественной металлочерепицы цвета Антрацит. <br>
									• Кровля гаража — мягкая черепица Shinglas. <br>
									• Утепление стен — пенопласт фасадный в 100 мм. <br>
									• Отделка фасада — декоративная штукатурка с вставками из качественного металлосайдинга под дерево. <br>
									• Окна Rehau с Ламинацией под Антрацит. <br> <br>

									Все этапы строительства проверялись Техническим отделом и фиксировались на фото (по запросу, можем предоставить). <br> <br>

									Продажа дома возможна, как с предчистовой отделкой, так и под чистовую! <br> <br>

									Возможно приобретение в кредит от 3% или с использованием мат. Капитала.`
					}
				]
			},
			{
				
				name: `Новый дом в поселке Западный-2`,
				slides: [
					{
						img: 'dom-1-1.jpg'
					},
					{
						img: 'dom-1-2.jpg'
					},
					{
						img: 'dom-1-3.jpg'
					},
					{
						img: 'dom-1-4.jpg'
					},
					{
						img: 'dom-1-5.jpg'
					},
					{
						img: 'dom-1-6.jpg'
					},
					{
						img: 'dom-1-7.jpg'
					},
					{
						img: 'dom-1-8.jpg'
					},
					{
						img: 'dom-1-9.jpg'
					},
					{
						img: 'dom-1-10.jpg'
					},
				],
				rows: [
					{
						title: `Адрес объекта:`,
						text: `г. Магнитогорск, пос. Западный-2`
					},
					{
						title: `Описание:`,
						text: `• Перед строительством был разработан проект, с расчетом конструкций, для данного участка. <br>
									• Выполнено снятие растительного грунта, до несущей породы. <br>
									• Фундамент на бурозаливных сваях и ростверком. <br>
									• Плита монолитная по несжимаемому грунту и его уплотнением вибротрамбовкой. <br>
									• Стены из бетонного камня в 400 мм. <br>
									• Перекрытие балочное деревянное с утеплением в 200 мм. <br>
									• Кровля из качественной металлочерепицы цвета Антрацит. <br>
									• Кровля гаража — мягкая черепица Shinglas. <br>
									• Утепление стен — пенопласт фасадный в 100 мм. <br>
									• Отделка фасада — декоративная штукатурка с вставками из качественного металлосайдинга под дерево. <br>
									• Окна Rehau с Ламинацией под Антрацит. <br> <br>

									Все этапы строительства проверялись Техническим отделом и фиксировались на фото (по запросу, можем предоставить). <br> <br>

									Продажа дома возможна, как с предчистовой отделкой, так и под чистовую! <br> <br>

									Возможно приобретение в кредит от 3% или с использованием мат. Капитала.`
					}
				]
			},
			{
				name: `Магазин Пятерочка`,
				slides: [
					{
						img: 'henderson.jpg'
					},
					{
						img: 'henderson.jpg'
					},
				],
				rows: [
					{
						title: `Адрес объекта:`,
						text: `г. Магнитогорск`
					},
					{
						title: `Объем работ:`,
						text: `На&nbsp;этом объекте работали с&nbsp;&laquo;чистого листа&raquo;, поскольку здание было недавно построено. На&nbsp;площади 300 кв.м. смонтировали потолки и&nbsp;перегородки, стены обшили гипсокартоном с&nbsp;последующей окраской. Подготовили все инженерные коммуникации. Финальным штрихом стала расстановка мебели. Все работы сделаны в&nbsp;срок и&nbsp;в&nbsp;полном соответствии с&nbsp;техническим заданием.`
					},
					{
						title: `Срок работ:`,
						text: `35 календарных дней`
					}
				]
			},
			{
				name: `Магазин Spar`,
				slides: [
					{
						img: 'henderson.jpg'
					},
					{
						img: 'henderson.jpg'
					},
				],
				rows: [
					{
						title: `Адрес объекта:`,
						text: `г. Магнитогорск`
					},
					{
						title: `Объем работ:`,
						text: `На&nbsp;этом объекте работали с&nbsp;&laquo;чистого листа&raquo;, поскольку здание было недавно построено. На&nbsp;площади 300 кв.м. смонтировали потолки и&nbsp;перегородки, стены обшили гипсокартоном с&nbsp;последующей окраской. Подготовили все инженерные коммуникации. Финальным штрихом стала расстановка мебели. Все работы сделаны в&nbsp;срок и&nbsp;в&nbsp;полном соответствии с&nbsp;техническим заданием.`
					},
					{
						title: `Срок работ:`,
						text: `35 календарных дней`
					}
				]
			},
			{
				name: `Сбербанк`,
				slides: [
					{
						img: 'henderson.jpg'
					},
					{
						img: 'henderson.jpg'
					},
				],
				rows: [
					{
						title: `Адрес объекта:`,
						text: `г. Магнитогорск`
					},
					{
						title: `Объем работ:`,
						text: `На&nbsp;этом объекте работали с&nbsp;&laquo;чистого листа&raquo;, поскольку здание было недавно построено. На&nbsp;площади 300 кв.м. смонтировали потолки и&nbsp;перегородки, стены обшили гипсокартоном с&nbsp;последующей окраской. Подготовили все инженерные коммуникации. Финальным штрихом стала расстановка мебели. Все работы сделаны в&nbsp;срок и&nbsp;в&nbsp;полном соответствии с&nbsp;техническим заданием.`
					},
					{
						title: `Срок работ:`,
						text: `35 календарных дней`
					}
				]
			},
			{
				name: `Администрация города`,
				slides: [
					{
						img: 'henderson.jpg'
					},
					{
						img: 'henderson.jpg'
					},
				],
				rows: [
					{
						title: `Адрес объекта:`,
						text: `г. Магнитогорск`
					},
					{
						title: `Объем работ:`,
						text: `На&nbsp;этом объекте работали с&nbsp;&laquo;чистого листа&raquo;, поскольку здание было недавно построено. На&nbsp;площади 300 кв.м. смонтировали потолки и&nbsp;перегородки, стены обшили гипсокартоном с&nbsp;последующей окраской. Подготовили все инженерные коммуникации. Финальным штрихом стала расстановка мебели. Все работы сделаны в&nbsp;срок и&nbsp;в&nbsp;полном соответствии с&nbsp;техническим заданием.`
					},
					{
						title: `Срок работ:`,
						text: `35 календарных дней`
					}
				]
			},
			{
				name: `Магазин Пятерочка`,
				slides: [
					{
						img: 'henderson.jpg'
					},
					{
						img: 'henderson.jpg'
					},
				],
				rows: [
					{
						title: `Адрес объекта:`,
						text: `г. Белорецк`
					},
					{
						title: `Объем работ:`,
						text: `На&nbsp;этом объекте работали с&nbsp;&laquo;чистого листа&raquo;, поскольку здание было недавно построено. На&nbsp;площади 300 кв.м. смонтировали потолки и&nbsp;перегородки, стены обшили гипсокартоном с&nbsp;последующей окраской. Подготовили все инженерные коммуникации. Финальным штрихом стала расстановка мебели. Все работы сделаны в&nbsp;срок и&nbsp;в&nbsp;полном соответствии с&nbsp;техническим заданием.`
					},
					{
						title: `Срок работ:`,
						text: `35 календарных дней`
					}
				]
			},
			{
				name: `Магазин Магнит`,
				slides: [
					{
						img: 'henderson.jpg'
					},
					{
						img: 'henderson.jpg'
					},
				],
				rows: [
					{
						title: `Адрес объекта:`,
						text: `г. Сибай`
					},
					{
						title: `Объем работ:`,
						text: `На&nbsp;этом объекте работали с&nbsp;&laquo;чистого листа&raquo;, поскольку здание было недавно построено. На&nbsp;площади 300 кв.м. смонтировали потолки и&nbsp;перегородки, стены обшили гипсокартоном с&nbsp;последующей окраской. Подготовили все инженерные коммуникации. Финальным штрихом стала расстановка мебели. Все работы сделаны в&nbsp;срок и&nbsp;в&nbsp;полном соответствии с&nbsp;техническим заданием.`
					},
					{
						title: `Срок работ:`,
						text: `35 календарных дней`
					}
				]
			},
		]
	})
	//- sResults end
	+sRecommendation({
		title: `Почему 8&nbsp;из&nbsp;10&nbsp;клиентов<br> обращаютя к&nbsp;нам по&nbsp;рекомендации?`,
		items: [
			{
				title: `Срочный ремонт `,
				text: `Если объект нужно сдать еще &laquo;вчера&raquo;, будем работать без выходных, в&nbsp;три смены`
			},
			{
				title: `Экномия до&nbsp;30% на&nbsp;материалах `,
				text: `У&nbsp;нас оптовые цены во&nbsp;многих строительных магазинах. Покупку&nbsp;и&nbsp;доставку берем на&nbsp;себя`
			},
			{
				title: `Неизменная смета `,
				text: `Смета составляется и&nbsp;фиксируется на&nbsp;всё время ремонта`
			},
			{
				title: `Поэтапная оплата `,
				text: `Вам не&nbsp;нужно платить всю сумму сразу, оплачивайте каждый этап работ отдельно`
			},
			{
				title: `Гарантия до&nbsp;36&nbsp;мес. `,
				text: `Если случай гарантийный, ремонтное обслуживание в&nbsp;течении всего срока &mdash;&nbsp;бесплатно`
			},
			{
				title: `&laquo;Чистая&raquo; сдача объекта `,
				text: `Вывозим весь строительный мусор.`
			},
		]
	})
	+sOurWork

	+sForm-02({
		
		paragraphs: [
			{
				text: `<span><strong>Здравствуйте!</span> Меня зовут Яременко Андрей Владимирович.</strong> Я&nbsp;генеральный директор компании ООО&nbsp;ПСК &laquo;Евразия&raquo;`
			},
			{
				text: `Более 20&nbsp;лет мы&nbsp;занимаемся проектированием, строительством, ремонтом и&nbsp;реконструкцией.`
			},
			{
				text: `За время работы сформиловалась собственная материально-техническая, ремонтная база, парк строительной техники и машин, а также высококвалифицированный коллектив, обеспечивающий выполнение комплексной строительной работы `
			},
			{
				text: `У&nbsp;нас сформировалась большая база клиентов, среди которых: <strong>ПАО&nbsp;&laquo;Газпром&raquo;, АО&nbsp;&laquo;Тандер&raquo;, &laquo;Х5&nbsp;ритейл групп&raquo;, Сбербанк, ТАМИ и&nbsp;КО, АО&nbsp;ММК, Администрация г.&raquo;Магнитогорска.</strong>`
			},
			{
				text: `За&nbsp;счет постоянных объемов, <strong>мы&nbsp;не&nbsp;пытаемся заработать на&nbsp;одном объекте.</strong> Поэтому стремимся предложить вам лучшие условия.`
			},
			{
				text: `<strong>Давайте обсудим условия сотрудничества, которые подходят именно для вашей компании.</strong>`
			},
		]
	})
	+sSteps()


	+sContact().bg-light
	+foot

	//- +b.tabs--js.opacity-50
	//- 	+e.caption.d-flex
	//- 		+e.btn.btn.btn-warning.active  btn1
	//- 		+e.btn.btn.btn-warning btn 2
	//- 		+e.btn.btn.btn-warning btn 3
	//- 		+e.btn.btn.btn-warning btn 4
	//- 	+e.wrap
	//- 		+e.content.active content 1
	//- 		+e.content content 2
	//- 		+e.content content 3
	//- 		+e.content content 4
	//- +b.tabs--js
	//- 	+e.caption.d-flex
	//- 		+e.btn.btn.btn-success.active  btn  2 1
	//- 		+e.btn.btn.btn-success btn 2  2
	//- 		+e.btn.btn.btn-success btn 2  3
	//- 		+e.btn.btn.btn-success btn  2 4
	//- 	+e.wrap
	//- 		+e.content.active content 1
	//- 		+e.content content 2
	//- 		+e.content content 3
	//- 		+e.content content 4



