extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sDirections/_sDirections.pug
include ../blocks/sRecommendation/_sRecommendation.pug
include ../blocks/sOurWork/_sOurWork.pug
include ../blocks/sSteps/_sSteps.pug
include ../blocks/sResults/_sResults.pug


block variables
	- let  mainPage= 'mainPage'
	- let  bg= null

block title
	- let  title= 'Коммерческое строительство'
	title= title
block pagecontent

	mixin mnu()

		+b.UL.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="/" itemprop="url") Главная
			+e.LI.item--has-children( itemprop="item" )
				+e.A.link(href="#" itemprop="url") Услуги
				+b.UL.sub-menu
					+e.LI.item( temprop="item"  ): +e.A.link.active(href="/remont-magazinov.html" itemprop="url") Строительство и&nbsp;ремонт коммерческой недвижимости
					+e.LI.item( temprop="item"  ): +e.A.link(href="/stroitelstvo-domov-pod-kluch" itemprop="url") Строительство домов и&nbsp;коттеджей
					//-+e.LI.item( temprop="item"  ): +e.A.link(href="https://eadompro.ru/" itemprop="url") Проекты домов со&nbsp;стоимостью
					+e.LI.item( temprop="item"  ): +e.A.link(href="/stroitelnie-materiali.html" itemprop="url") Производство и&nbsp;продажа строительных материалов
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="https://eadompro.ru/" itemprop="url") Проекты домов 
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="/vakansii.html" itemprop="url") Вакансии
			+e.LI.item( temprop="item" itemprop="url"): +e.A.link(href="/kontakti.html" itemprop="url") Контакты

	+mob-mnu()
	+header()
		+top-nav()
	+headerBlock-02({
		bg: 'header-bg-2.jpg',
		h1: `Реконструкция, ремонт, строительство`,
		h3: `офисов, магазинов, производственных, промышленных зданий и&nbsp;сооружений`,
		btnLink: '/qwiz.html',
		slides: [
			{
				img: 'magnit.png',
				slideText: `Капитальный ремонт и&nbsp;реконструкция магазина Магнит в&nbsp;г.&nbsp;Магнитогорск, ул. Сталеваров, 16/3`
			},
			{
				img: 'magnit.png',
				slideText: `Капитальный ремонт и&nbsp;реконструкция магазина Магнит в&nbsp;г.&nbsp;Магнитогорск, ул. Сталеваров, 16/3`
			}
		]
	})
	+sRecommendation({
		title: `Почему 8&nbsp;из&nbsp;10&nbsp;клиентов<br> обращаютя к&nbsp;нам по&nbsp;рекомендации?`,
		items: [
			{
				title: `Срочный ремонт `,
				text: `Если объект нужно сдать еще &laquo;вчера&raquo;, будем работать без выходных, в&nbsp;три смены`
			},
			{
				title: `Экномия до&nbsp;30% на&nbsp;материалах `,
				text: `У&nbsp;нас оптовые цены во&nbsp;многих строительных магазинах. Покупку&nbsp;и&nbsp;доставку берем на&nbsp;себя`
			},
			{
				title: `Неизменная смета `,
				text: `Смета составляется и&nbsp;фиксируется на&nbsp;всё время ремонта`
			},
			{
				title: `Поэтапная оплата `,
				text: `Вам не&nbsp;нужно платить всю сумму сразу, оплачивайте каждый этап работ отдельно`
			},
			{
				title: `Гарантия до&nbsp;36&nbsp;мес. `,
				text: `Если случай гарантийный, ремонтное обслуживание в&nbsp;течении всего срока &mdash;&nbsp;бесплатно`
			},
			{
				title: `&laquo;Чистая&raquo; сдача объекта `,
				text: `Вывозим весь строительный мусор.`
			},
		]
	})
	+sOurWork

	+sForm-02({
		h2: `ООО &laquo;ПСК Евразия&raquo; работает <span class="text-warning">с&nbsp;2013 года</span>`,
		paragraphs: [
			{
				text: `<span>Здравствуйте!</span> Меня зовут Яременко Андрей Владимирович. Я&nbsp;генеральный директор компании ООО&nbsp;&laquo;ПСК Евразия&raquo;`
			},
			{
				text: `Более 20&nbsp;лет мы&nbsp;занимаемся проектированием, строительством, ремонтом и&nbsp;реконструкцией.`
			},
			{
				text: `У&nbsp;нас сформировалась большая база клиентов, среди которых: <strong>АО&nbsp;&laquo;Тандер&raquo;, &laquo;Х5&nbsp;ритейл групп&raquo;, Сбербанк, ТАМИ и&nbsp;КО, АО&nbsp;ММК, Администрация г.&raquo;Магнитогорска.</strong>`
			},
			{
				text: `За&nbsp;счет постоянных объемов, <strong>мы&nbsp;не&nbsp;пытаемся заработать на&nbsp;одном объекте.</strong> Поэтому стремимся предложить вам лучшие условия.`
			},
			{
				text: `<strong>Давайте обсудим условия сотрудничества, которые подходят именно для вашей компании.</strong>`
			},
		]
	})
	+sSteps()
	//- sResults start
	+sResults({
		btns: [
			{
				name: `Магазин Henderson`,
				sity: `Магнитогорск`,
				class: 'active'
			},
			{
				name: `Магазин Магнит`,
				sity: `Уфа`,
			},
			{
				name: `Магазин Пятерочка`,
				sity: `Магнитогорск`,
			},
			{
				name: `Магазин Spar`,
				sity: `Магнитогорск`,
			},
			{
				name: `Сбербанк`,
				sity: `Магнитогорск`,
			},
			{
				name: `Администрация города`,
				sity: `Магнитогорск`,
			},
			{
				name: `Магазин Пятерочка`,
				sity: `Белорецк`,
			},
			{
				name: `Магазин Магнит`,
				sity: `Сибай`,
			},
		],
		contents: [
			{
				class: 'active',
				name: `Магазин Henderson в&nbsp;ТРК &laquo;Гостиный Двор&raquo;`,
				slides: [
					{
						img: 'henderson.jpg'
					},
					{
						img: 'henderson.jpg'
					},
				],
				rows: [
					{
						title: `Адрес объекта:`,
						text: `г. Магнитогорск, пр-т. Карла Маркса, 153`
					},
					{
						title: `Объем работ:`,
						text: `На&nbsp;этом объекте работали с&nbsp;&laquo;чистого листа&raquo;, поскольку здание было недавно построено. На&nbsp;площади 300 кв.м. смонтировали потолки и&nbsp;перегородки, стены обшили гипсокартоном с&nbsp;последующей окраской. Подготовили все инженерные коммуникации. Финальным штрихом стала расстановка мебели. Все работы сделаны в&nbsp;срок и&nbsp;в&nbsp;полном соответствии с&nbsp;техническим заданием.`
					},
					{
						title: `Срок работ:`,
						text: `35 календарных дней`
					}
				]
			},
			{
				name: `Магазин Магнит`,
				slides: [
					{
						img: 'henderson.jpg'
					},
					{
						img: 'henderson.jpg'
					},
				],
				rows: [
					{
						title: `Адрес объекта:`,
						text: `г. Уфа`
					},
					{
						title: `Объем работ:`,
						text: `На&nbsp;этом объекте работали с&nbsp;&laquo;чистого листа&raquo;, поскольку здание было недавно построено. На&nbsp;площади 300 кв.м. смонтировали потолки и&nbsp;перегородки, стены обшили гипсокартоном с&nbsp;последующей окраской. Подготовили все инженерные коммуникации. Финальным штрихом стала расстановка мебели. Все работы сделаны в&nbsp;срок и&nbsp;в&nbsp;полном соответствии с&nbsp;техническим заданием.`
					},
					{
						title: `Срок работ:`,
						text: `35 календарных дней`
					}
				]
			},
			{
				name: `Магазин Пятерочка`,
				slides: [
					{
						img: 'henderson.jpg'
					},
					{
						img: 'henderson.jpg'
					},
				],
				rows: [
					{
						title: `Адрес объекта:`,
						text: `г. Магнитогорск`
					},
					{
						title: `Объем работ:`,
						text: `На&nbsp;этом объекте работали с&nbsp;&laquo;чистого листа&raquo;, поскольку здание было недавно построено. На&nbsp;площади 300 кв.м. смонтировали потолки и&nbsp;перегородки, стены обшили гипсокартоном с&nbsp;последующей окраской. Подготовили все инженерные коммуникации. Финальным штрихом стала расстановка мебели. Все работы сделаны в&nbsp;срок и&nbsp;в&nbsp;полном соответствии с&nbsp;техническим заданием.`
					},
					{
						title: `Срок работ:`,
						text: `35 календарных дней`
					}
				]
			},
			{
				name: `Магазин Spar`,
				slides: [
					{
						img: 'henderson.jpg'
					},
					{
						img: 'henderson.jpg'
					},
				],
				rows: [
					{
						title: `Адрес объекта:`,
						text: `г. Магнитогорск`
					},
					{
						title: `Объем работ:`,
						text: `На&nbsp;этом объекте работали с&nbsp;&laquo;чистого листа&raquo;, поскольку здание было недавно построено. На&nbsp;площади 300 кв.м. смонтировали потолки и&nbsp;перегородки, стены обшили гипсокартоном с&nbsp;последующей окраской. Подготовили все инженерные коммуникации. Финальным штрихом стала расстановка мебели. Все работы сделаны в&nbsp;срок и&nbsp;в&nbsp;полном соответствии с&nbsp;техническим заданием.`
					},
					{
						title: `Срок работ:`,
						text: `35 календарных дней`
					}
				]
			},
			{
				name: `Сбербанк`,
				slides: [
					{
						img: 'henderson.jpg'
					},
					{
						img: 'henderson.jpg'
					},
				],
				rows: [
					{
						title: `Адрес объекта:`,
						text: `г. Магнитогорск`
					},
					{
						title: `Объем работ:`,
						text: `На&nbsp;этом объекте работали с&nbsp;&laquo;чистого листа&raquo;, поскольку здание было недавно построено. На&nbsp;площади 300 кв.м. смонтировали потолки и&nbsp;перегородки, стены обшили гипсокартоном с&nbsp;последующей окраской. Подготовили все инженерные коммуникации. Финальным штрихом стала расстановка мебели. Все работы сделаны в&nbsp;срок и&nbsp;в&nbsp;полном соответствии с&nbsp;техническим заданием.`
					},
					{
						title: `Срок работ:`,
						text: `35 календарных дней`
					}
				]
			},
			{
				name: `Администрация города`,
				slides: [
					{
						img: 'henderson.jpg'
					},
					{
						img: 'henderson.jpg'
					},
				],
				rows: [
					{
						title: `Адрес объекта:`,
						text: `г. Магнитогорск`
					},
					{
						title: `Объем работ:`,
						text: `На&nbsp;этом объекте работали с&nbsp;&laquo;чистого листа&raquo;, поскольку здание было недавно построено. На&nbsp;площади 300 кв.м. смонтировали потолки и&nbsp;перегородки, стены обшили гипсокартоном с&nbsp;последующей окраской. Подготовили все инженерные коммуникации. Финальным штрихом стала расстановка мебели. Все работы сделаны в&nbsp;срок и&nbsp;в&nbsp;полном соответствии с&nbsp;техническим заданием.`
					},
					{
						title: `Срок работ:`,
						text: `35 календарных дней`
					}
				]
			},
			{
				name: `Магазин Пятерочка`,
				slides: [
					{
						img: 'henderson.jpg'
					},
					{
						img: 'henderson.jpg'
					},
				],
				rows: [
					{
						title: `Адрес объекта:`,
						text: `г. Белорецк`
					},
					{
						title: `Объем работ:`,
						text: `На&nbsp;этом объекте работали с&nbsp;&laquo;чистого листа&raquo;, поскольку здание было недавно построено. На&nbsp;площади 300 кв.м. смонтировали потолки и&nbsp;перегородки, стены обшили гипсокартоном с&nbsp;последующей окраской. Подготовили все инженерные коммуникации. Финальным штрихом стала расстановка мебели. Все работы сделаны в&nbsp;срок и&nbsp;в&nbsp;полном соответствии с&nbsp;техническим заданием.`
					},
					{
						title: `Срок работ:`,
						text: `35 календарных дней`
					}
				]
			},
			{
				name: `Магазин Магнит`,
				slides: [
					{
						img: 'henderson.jpg'
					},
					{
						img: 'henderson.jpg'
					},
				],
				rows: [
					{
						title: `Адрес объекта:`,
						text: `г. Сибай`
					},
					{
						title: `Объем работ:`,
						text: `На&nbsp;этом объекте работали с&nbsp;&laquo;чистого листа&raquo;, поскольку здание было недавно построено. На&nbsp;площади 300 кв.м. смонтировали потолки и&nbsp;перегородки, стены обшили гипсокартоном с&nbsp;последующей окраской. Подготовили все инженерные коммуникации. Финальным штрихом стала расстановка мебели. Все работы сделаны в&nbsp;срок и&nbsp;в&nbsp;полном соответствии с&nbsp;техническим заданием.`
					},
					{
						title: `Срок работ:`,
						text: `35 календарных дней`
					}
				]
			},
		]
	})
	//- sResults end

	+sContact().bg-light
	+foot

	//- +b.tabs--js.opacity-50
	//- 	+e.caption.d-flex
	//- 		+e.btn.btn.btn-warning.active  btn1
	//- 		+e.btn.btn.btn-warning btn 2
	//- 		+e.btn.btn.btn-warning btn 3
	//- 		+e.btn.btn.btn-warning btn 4
	//- 	+e.wrap
	//- 		+e.content.active content 1
	//- 		+e.content content 2
	//- 		+e.content content 3
	//- 		+e.content content 4
	//- +b.tabs--js
	//- 	+e.caption.d-flex
	//- 		+e.btn.btn.btn-success.active  btn  2 1
	//- 		+e.btn.btn.btn-success btn 2  2
	//- 		+e.btn.btn.btn-success btn 2  3
	//- 		+e.btn.btn.btn-success btn  2 4
	//- 	+e.wrap
	//- 		+e.content.active content 1
	//- 		+e.content content 2
	//- 		+e.content content 3
	//- 		+e.content content 4



