extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sDirections/_sDirections.pug
include ../blocks/sVacancies/_sVacancies.pug
include ../blocks/sThanks/_sThanks.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= '>Благодарим за доверие'
	title= title
block pagecontent


	//- +mob-mnu()
	+header()
		+top-nav()
	//- +b.page-head
	//- 	.container
	//- 		+breadcrumb('Главная','Вакансии') 
	+sThanks({
		h2: `<span class="text-primary">Благодарим за доверие,</span> проявленное к&nbsp;нашей компании!`,
		h4: `Перезвоним вам в&nbsp;рабочее время с&nbsp;8:00 до&nbsp;17:00<br>Если у&nbsp;вас срочный вопрос, звоните нам по&nbsp;телефону:`
	})
	+foot