extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sDirections/_sDirections.pug
include ../blocks/sVacancies/_sVacancies.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Вакансии'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+top-nav()
	+b.page-head
		.container
			+breadcrumb('Главная', title) 
	+sVacancies({
		links: [
			{
				link: `#finishers`,
				text: `Отделочники`
			},
			{
				link: `#construction-specialties`,
				text: `Рабочие строительных специальностей`
			},
		],

		items: [
			{
				title: `Отделочники`,
				id: 'finishers',
				blocks: [
					{
						subtitle: `Требования:`,
						lists: [
							{
								item: `Высшее техническое образование (машиностроение, металлургия);`,
							},
							{
								item: `Пользователь ПК MS Office (Word, Excel, Outlook), AutoCAD/ Компас 3D;`,
							},
							{
								item: `Умение читать машиностроительные чертежи;`,
							},
						],
					},
					{
						subtitle: `Обязанности:`,
						lists: [
							{
								item: `Работа с существующей базой клиентов (командировки, встречи);`,
							},
							{
								item: `Работа с входящими заявками;`,
							},
							{
								item: `Согласование технических требований заказчика и выставление ТКП;`,
							},
						],
					},
					{
						subtitle: `Условия:`,
						lists: [
							{
								item: `Оформление согласно ТК РФ, полный рабочий день;`,
							},
							{
								item: `Работа в офисном здании;`,
							},
							{
								item: `Заработная плата от 50.000 рублей.`,
							},
						],
					},
				],
			},

			{
				title: `Рабочие строительных специальностей`,
				id: 'construction-specialties',
				blocks: [
					{
						subtitle: `Требования:`,
						lists: [
							{
								item: `Высшее техническое образование (машиностроение, металлургия);`,
							},
							{
								item: `Пользователь ПК MS Office (Word, Excel, Outlook), AutoCAD/ Компас 3D;`,
							},
							{
								item: `Умение читать машиностроительные чертежи;`,
							},
						],
					},
					{
						subtitle: `Обязанности:`,
						lists: [
							{
								item: `Работа с существующей базой клиентов (командировки, встречи);`,
							},
							{
								item: `Работа с входящими заявками;`,
							},
							{
								item: `Согласование технических требований заказчика и выставление ТКП;`,
							},
						],
					},
					{
						subtitle: `Условия:`,
						lists: [
							{
								item: `Оформление согласно ТК РФ, полный рабочий день;`,
							},
							{
								item: `Работа в офисном здании;`,
							},
							{
								item: `Заработная плата от 50.000 рублей.`,
							},
						],
					},
				],
			},
		]
	})
	+sForm-sm({
		h2: `Отправьте ваше резюме и&nbsp;мы&nbsp;свяжемся с&nbsp;вами`,
	})
	+foot