// start .sSteps
.sSteps {
	--sPT: #{rem(33)};
	--sTPB: #{rem(65)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(43)};
		--sTPB: #{rem(100)};
		--sPB: 0;
	}
	@include media-breakpoint-down(md) {
		background-color: $light;
	}

	h2 {
		letter-spacing: 0.9px;
	}

	&__row {
		@include roww(40px);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(-25px);
		}
		@include media-breakpoint-up(xl) {
			@include roww(105px);
		}
	}

	.container {
		@include media-breakpoint-up(xl) {
			max-width: 1150px;
		}
	}

	&__col {
		position: relative;
		padding-bottom: rem(87);
	}

	&__num {
		position: absolute;
		left: 70px;
		color: #94d46a;
		@extend .mono;
		line-height: 1;
		font-size: rem(80px);
		top: -40px;
		@include media-breakpoint-up(md) {
			font-size: rem(90px);
			top: -60px;
		}
	}
	&__itemWrap {
		box-shadow: 3px 3px 35px rgba(154, 187, 206, 0.19);
		border-radius: 5px;
		background-color: #ffffff;
		position: relative;
		z-index: 2;
		padding: rem(10);
		height: 100%;
		min-height: rem(240px);
		@include media-breakpoint-up(md) {
			min-height: rem(227px);
		}
		@include media-breakpoint-down(sm) {
			max-width: 249px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	p {
		margin-bottom: 0;
	}
	&__item {
		border-radius: 5px;
		border: 1px solid #e4e5ea;
		padding: rem(25) rem(18);
		height: 100%;
	}
	&__img {
		margin-bottom: rem(12);
	}
	&__tel {
		display: block;
		color: #94d46a !important;
		font-weight: 700;
		text-decoration: none;
	}

	p {
		font-weight: 300;
	}
	&__modal {
		display: inline-block;
		border-bottom: dashed 1px;
		text-decoration: none;
		color: $body-color !important;

		&:hover {
			border-color: transparent;
		}
	}

	.accardion-item {
		display: none;
		@include media-breakpoint-up(sm) {
			display: block !important;
		}
	}

	.accardion-toggle {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: rem(-60);
		@include media-breakpoint-up(sm) {
			display: none;
		}

		img {
			margin-left: rem(10);
			@include mt;
		}

		span {
			border-bottom: dashed 1px;
			text-transform: uppercase;
		}

		.hidden {
			display: none;
		}

		&.active {
			.hidden {
				display: block;
			}

			.all {
				display: none;
			}

			img {
				transform: rotate(180deg);
			}
		}
	}

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sSteps

.accardion-item {
}
.accardion-toggle {
}
