$h: em(2);

.toggle-menu-mobile {
	border-radius: 6px;
	background-image: linear-gradient(
		to top,
		#f9c457 0%,
		#f6b73e 5%,
		#ffdb72 99%,
		#ffdb72 100%
	);

	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
	position: relative;
	color: $gray-900;
	font-size: 32px;
	&.on {
		color: $gray-900;
		background-image: none;
	}

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}

	span {
		@include a-cent(y);
	}

	span:before {
		top: $h * 2;
	}

	span:after {
		bottom: $h * 2;
	}

	span {
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		width: 23px;
		height: 1px;
		background-color: currentColor;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
		transform-origin: 50% 50%;
	}

	// &.on {
	// 	// opacity: 0;
	// }

	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {
		top: 0;
		bottom: 0;
	}

	&.on span:before {
		transform: rotate3d(0, 0, 1, 45deg);
	}

	&.on span:after {
		transform: rotate3d(0, 0, 1, -45deg);
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 85%;
	height: calc(var(--vh, 1vh) * 100);
	width: 320px;
	top: 0;
	// left: 0;
	right: 0;
	background-color: #fff;
	&:not(.active) {
		transform: translate3d(120%, 0, 0);
		--opacity: 0;
	}
	@include mt(0.6s);
	will-change: transform;

	&__inner {
		padding: rem(20) rem(10);
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
		@include mt(0.3s);
		transition-delay: 0.4s;
		opacity: var(--opacity);
	}

	&.active {
		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: 80%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #fff;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: $gray-900;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
	}

	li {
		display: block;
		margin: 0;
		// border-top: 1px solid rgba(255, 255, 255, 0.13);

		a {
			// font-size: 16px;

			padding: 10px;
			display: block;
		}
	}
}
