.top-nav {
	position: fixed;
	left: 0;
	width: 100%;
	top: 0;
	z-index: 800;
	padding-left: 6px;
	padding-right: 6px;
	font-family: "MuseoSansCyrl",
	system-ui,
	-apple-system,
	"Segoe UI",
	Roboto,
	"Helvetica Neue",
	Arial,
	"Noto Sans",
	"Liberation Sans",
	sans-serif,
	"Apple Color Emoji",
	"Segoe UI Emoji",
	"Segoe UI Symbol",
	"Noto Color Emoji";
	;
	a{
		text-decoration: none !important;

	}
	@include media-breakpoint-up(sm) {
		padding-left: 15px;
		padding-right: 15px;
	}

	// background-color: #fff;
	// border-bottom: 1px solid #000;
	&.fixed {
		bottom: auto;
		// margin-top: 0;
		.top-nav__inner {
			box-shadow: 3px 3px 20px rgba(125, 132, 136, 0.42);
		}
	}

	&__inner {
		max-width: 1278px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 5px;
		background-color: #ffffff;
		box-shadow: 3px 3px 20px rgba(125, 132, 136, 0.42);
		border: 1px solid #e7e7e7;
		margin-top: rem(-10);
		padding-top: rem(10);
		@include media-breakpoint-down(md) {
			padding-bottom: rem(5);
		}
	}

	&__row {
		align-items: flex-end;
		@include media-breakpoint-down(md) {
			@include roww(7px);
		}
		@include media-breakpoint-only(md) {
			align-items: center;
		}
	}
	&__logo {
		display: inline-block;
		img{
			// @extend .res-i;

			max-width: 100%;
			height: auto;
		}
		@include media-breakpoint-up(md) {
			margin-bottom: 11px;
			max-width: 180px;
		}
		@include media-breakpoint-up(xl) {
			// margin-top: rem(-10);
			margin-right: 14px;
			max-width: 200px;
		}
		@include media-breakpoint-only(lg) {
		}
		@include media-breakpoint-down(sm) {
			max-width: 170px;
		}
	}

	&__tel {
		color: #2b2b2b !important;
		font-weight: 700;
		font-size: 18px;
		text-decoration: none;
	}

	&__cantactsModal {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 9px;
		box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
		border-radius: 6px;
		background-image: linear-gradient(
			to top,
			#f9c457 0%,
			#f6b73e 5%,
			#ffdb72 99%,
			#ffdb72 100%
		);
	}

	&__contacts {
		max-width: 240px;
		// padding-top: rem(10);
		@include media-breakpoint-up(lg) {
			padding-bottom: rem(18);
		}
		text-align: right;
		.row {
			@include roww(7px);
		}
	}
	&__call {
		text-decoration: none;
		color: #2b2b2b !important;
		border-bottom: #2b2b2b dashed 1px;
		font-size: 12px;
		letter-spacing: 0.24px;
		// line-height: 1;
		&:hover {
			border-color: transparent;
		}
	}
	&__ {
	}
	&__ {
	}
	&__ {
	}
	&__ {
	}
	&__ {
	}
	&__ {
	}
	@include media-breakpoint-up(xs) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xs) {
	}
}

.mainPage {
	.top-nav__inner {
		border: none;
		box-shadow: none;
	}
}
