mixin allcss()

	//- link(rel="stylesheet" href="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.css")

	//- link(href="libs/swiper/css/swiper.min.css" rel="stylesheet") 
	link(rel="stylesheet" href="js/ion-rangeslider/css/ion.rangeSlider.min.css")

	link(href="libs/@fancyapps/fancybox/jquery.fancybox.min.css" rel="stylesheet")
	link(href="css/main.min.css" rel="stylesheet")

mixin allcjs()
	//- script(src="js/libs.js")

	//- script(src="libs/loading-attribute-polyfill/loading-attribute-polyfill.min.js")

	// modal libs
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/@fancyapps/fancybox/jquery.fancybox.min.js")
	// modal libs
	// slider libs
	script(src="libs/swiper/swiper-bundle.min.js") 
	// /slider libs
	script(src="js/ion-rangeslider/js/ion.rangeSlider.min.js")
	script(src="libs/inputmask/inputmask.min.js")
	script(src="js/libs.js")
	script(src="js/common.js")
	<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(47357478, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/47357478" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
	//- cut text libs
	//- script(src="libs/jquery.morelines.min.js")

	//- script(src="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.js")
	//- custom input range libs
	//- script(src="libs/ion.rangeSlider-2.2.0/js/ion-rangeSlider/ion.rangeSlider.js")
	//- /custom input range libs

	//- mask for  input  libs
	//- / mask for  input  libs