mixin item-sos(icon, a='#')
	+e.A.item(href= a target="_blank" class=`--${icon}`)&attributes(attributes)
		if block
			block
		else
			+icon(icon)
//- social buttons
mixin soc()
	+b.soc
		if block
			block
		else
			+item-sos('whatsapp','https://wa.me/+79120811400')
			+item-sos('viber','viber://chat?number=+79120811400')
			+item-sos('telegram','tg://resolve?domain=pskevrazia')

//- /social buttons 